html {
    height: 100vh;
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 50px;
    margin: 0px;
}
.grid-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: darkgray;
}

.grid-item {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    background-color: white;
}

.grid-item:hover {
    opacity: .2;
}

.page-button {
    width: fit-content;
}

.page-button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine;
    font-size: 25px;
}